* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

section {	
	max-width: 99.3%;
	margin:auto;
}

.box {
  background-color: #e74c3c;;
  width: 600%;
  margin: 10px;
  text-align: center;
  color: white;
  padding: 11vh 0;
}

.flex-container {
  display: flex;
  min-height: 45vh;
}

.left-side,
.right-bottom,
.right-top {
  display: flex;
  padding: 2px;
}


.right-side {
  display: flex;
  flex-wrap: wrap;
}

.left-side,
.right-side {
  width: 100%;
}

.right-side > * {
  width: 100%;
}

.right-bottom .box4 {
    margin-left: 13px;
}


.grid-container {
  display: grid;
  grid-auto-rows: 220px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 16px;
  margin: 0;
  text-align: center;
}

.grid-container .main-1 {
  background: #ADD8E6;
  grid-row: span 2;
  grid-column: span 3/3;
  padding: 100px;
}

.grid-container .item-2 {
  background: #ADD8E6;
  grid-row: span 1;
  grid-column: span 2;
  padding: 100px; 
  margin-left: 25px;
}

.grid-container .item-3 {
  background: #ADD8E6;
  padding: 90px;
  margin-top: 25px;
  margin-left: 25px;
}

.grid-container .item-4 {
  background: #ADD8E6;
  padding: 90px;
  margin-top: 25px;
  margin-left: 25px;
}

